.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 996px;
  overflow-y: auto;
}

.header {
  position: sticky;
  top: 0;
  height: 88px;
  padding: 24px;
  background-color: var(--neutral-light-0);
}

