.container {
  position: relative;
  display: grid;
  gap: 12px;
  color: var(--color-neutral-500);
}

.label {
  color: var(--color-neutral-800);
  font-size: 18px;
  font-weight: 600;
  line-height: calc(4 / 3);
  transition: color var(--transition-duration);
}

.star {
  color: var(--color-primary-400);
}

.input {
  height: 56px;
  padding: 0 40px 0 16px;
  color: var(--color-neutral-800);
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-neutral-400);
  border-radius: var(--border-radius);
  font-size: 18px;
  outline-offset: 4px;
  outline-color: transparent;
  outline-width: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition:
    border-color var(--transition-duration),
    outline-color var(--transition-duration),
    color var(--transition-duration);

  &:hover {
    border-color: var(--color-neutral-600);
  }

  &:not(:placeholder-shown) {
    border-color: var(--color-neutral-400);
  }

  &:focus {
    border: 2px solid var(--color-neutral-800);
    box-shadow: none;
    outline: none;
  }

  &::placeholder {
    color: var(--color-neutral-600);
    font-size: 18px;
    transition: color var(--transition-duration);
  }
}

.button {
  position: absolute;
  right: 12px;
  bottom: 16px;
  padding: 0;
  display: inline-flex;
  background-color: transparent;
  color: var(--color-neutral-500);
  transition:
    color var(--transition-duration),
    border-color var(--transition-duration);
  animation: fadeIn var(--transition-duration) ease-in-out;

  &:hover {
    color: var(--color-neutral-800);
  }

  &:focus-visible {
    border-color: var(--color-neutral-800);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

