.base {
  display: inline-flex;
  justify-content: start;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;

  svg {
    animation: rotate 1s linear infinite;
  }
}

.accentButton {
  padding: 8px 16px 8px 12px;
  width: 118px;
  height: 40px;
  gap: var(--button-gap);
  color: var(--color-base-white);
  background-color: var(--color-primary-440);
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: var(--shadow-default);
  transition:
    outline-color var(--transition-duration),
    background-color var(--transition-duration),
    box-shadow var(--transition-duration);

  &:hover:not(:disabled):not(:active):not(.loading) {
    background-color: var(--color-primary-500);
    box-shadow: var(--shadow-hover);
  }

  &:focus-visible:not(:disabled):not(:active):not(.loading) {
    background-color: var(--color-primary-500);
    box-shadow: var(--shadow-hover);
    outline-color: var(--color-base-white);
  }

  &:active:not(:disabled),
  &.loading {
    background-color: var(--color-primary-300);
    box-shadow: none;
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: rgba(255, 255, 255, 0.50);
    background-color: rgba(213, 16, 16, 0.50);
    cursor: not-allowed;
    box-shadow: var(--shadow-default);
  }
}

.submitButton:disabled {
  color: var(--color-neutral-0);
  background-color: var(--color-neutral-600);
}

.cancelButton:disabled {
  color: var(--color-neutral-800);
  background-color: var(--color-neutral-100);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submitButton,
.cancelButton {
  padding: 12px 16px;
  height: 48px;
  font-size: 18px;
  font-weight: 600;
  line-height: calc(4 / 3);
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition:
    outline-color var(--transition-duration),
    background-color var(--transition-duration),
    box-shadow var(--transition-duration),
    color var(--transition-duration);

  &:focus-visible {
    outline: 2px solid var(--color-neutral-900);
  }
}

.submitButton {
  width: 98px;
  color: var(--color-neutral-0);
  background-color: var(--color-neutral-800);
  box-shadow: var(--shadow-default);

  &:hover:not(:disabled):not(:active):not(.loading) {
    background-color: var(--color-neutral-700);
    box-shadow: var(--shadow-hover);
  }

  &:focus-visible:not(:disabled):not(:active):not(.loading) {
    background-color: var(--color-neutral-700);
  }

  &:active:not(:disabled),
  &.loading {
    background-color: var(--color-neutral-600);
    box-shadow: none;
  }

  &:disabled,
  &[aria-disabled="true"] {
    background-color: rgba(28, 28, 28, 0.50);
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.50);
  }
}

.cancelButton {
  width: 94px;
  color: var(--color-neutral-800);
  background-color: var(--color-neutral-200);
  box-shadow: var(--shadow-priority-active);

  &:hover:not(:disabled):not(:active):not(.loading) {
    background-color: var(--color-neutral-300);
    box-shadow: var(--shadow-priority-hover);
  }

  &:focus-visible:not(:disabled):not(:active):not(.loading) {
    background-color: var(--color-neutral-300);
  }

  &:active:not(:disabled),
  &.loading {
    background-color: var(--color-neutral-100);
    box-shadow: none;
  }

  &:disabled,
  &[aria-disabled="true"] {
    background-color: rgba(243, 243, 243, 0.50);
    cursor: not-allowed;
    color: rgba(28, 28, 28, 0.50);
  }
}