.button {
  width: 118px;
  display: inline-flex;
  justify-content: start;
  height: 40px;
  padding: 8px 16px 8px 12px;
  gap: 8px;
  background-color: var(--primary-440);
  color: var(--neutral-light-0);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  vertical-align: top;
  text-decoration: none;
  overflow: hidden;
}

.text {
  display: block;
  vertical-align: top;
  text-align: start;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dark {
  background-color: var(--neutral-light-800);
  padding: 8px;
  width: 172px;
}