.content {
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  height: calc(100dvh - var(--header-height));
  transition: background-color var(--transition-duration);

  & > * {
    height: 100%;
  }
}
