.logo {
  color: var(--base-white);
  outline-offset: 6px;
  border-radius: var(--border-radius);
  outline: 2px solid transparent;
  transition: outline-color var(--transition-duration);


  &:focus-visible {
    outline-color: var(--base-white);
  }
}