.button {
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius);
  background-color: transparent;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition:
    color var(--transition-duration),
    background-color var(--transition-duration),
    box-shadow var(--transition-duration),
    outline-color var(--transition-duration);

  &:hover,
  &:focus-visible {
    box-shadow: var(--shadow-priority-hover);
  }

  &:focus-visible {
    outline-color: var(--color-neutral-900);
  }

  &:active,
  &.selected {
    box-shadow: var(--shadow-priority-active);
  }
}

.low {
  color: var(--color-neutral-600);

  &:hover {
    background-color: var(--color-neutral-300);
  }

  &:active,
  &.selected {
    background-color: var(--color-neutral-200);
  }
}

.medium {
  color: var(--color-secondary-400);

  &:hover {
    background-color: var(--color-secondary-100);
  }

  &:active,
  &.selected {
    background-color: var(--color-secondary-0);
  }
}

.high {
  color: var(--color-primary-400);

  &:hover {
    background-color: var(--color-primary-100);
  }

  &:active,
  &.selected {
    background-color: var(--color-primary-0);
  }
}