.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  align-self: stretch;
  padding: 8px 8px 8px 16px;
  width: 100%;
  outline-offset: 2px;
  outline: 2px solid transparent;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-duration);

  &:hover {
    background-color: var(--color-neutral-200);
    box-shadow: var(--shadow-sm);
  }

  &:focus-visible {
    background-color: var(--color-neutral-200);
    outline-color: var(--color-neutral-900);
    box-shadow: var(--shadow-sm);
  }

  & button {
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-duration), visibility var(--transition-duration);
  }

  &:hover button,
  &:focus-within button,
  &:focus-visible button {
    opacity: 1;
    visibility: visible;
  }
}

.inner {
  display: flex;
  align-items: start;
  padding-block: 8px;
  column-gap: 16px;
  flex: 1 0 0;
}

.text {
  max-width: 100%;
  font-size: 18px;
  line-height: calc(4 / 3);
  text-align: start;
  word-wrap: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  flex: 1 1 0;
}