.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  align-self: stretch;
  padding: 8px 8px 8px 16px;
  width: 100%;
  border-radius: var(--border-radius);
  transition-property: background-color, box-shadow;
  transition-duration: var(--transition-duration);

  &:hover {
    background-color: var(--color-neutral-100);
    box-shadow: var(--shadow-sm);
  }

  &:focus-visible {
    outline: none;
    background-color: var(--color-neutral-100);
    box-shadow:
      0 0 0 2px var(--color-neutral-0),
      0 0 0 4px var(--color-neutral-900),
      var(--shadow-sm);
  }
}

.inner {
  display: flex;
  align-items: start;
  padding-block: 8px;
  column-gap: 16px;
  flex: 1 0 0;
}

.text {
  max-width: 100%;
  font-size: 18px;
  line-height: calc(4 / 3);
  text-align: start;
  word-wrap: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  flex: 1 1 0;
}

.editButton {
  width: 40px;
  height: 40px;
  padding-block: 8px;
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  &:focus-visible {
    opacity: 1;
  }
}

.editButtonActive {
  opacity: 1;
}

.editing {
  background-color: var(--color-neutral-200);
  box-shadow: var(--shadow-sm);
}

.active {
  background-color: var(--color-neutral-100);
  box-shadow: var(--shadow-sm);
}