.container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  color: transparent;
  padding: 2px;
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  pointer-events: none;
}

.customCheckbox  {
  display: grid;
  place-items: center;
  color: var(--color-neutral-800);
  width: 18.5px;
  height: 18.5px;
  background-color: var(--color-neutral-0);
  border-radius: var(--border-radius-small);
  outline: 4px solid transparent;
  outline-offset: 1.5px;
  transition:
    outline-color var(--transition-duration),
    background-color var(--transition-duration),
    box-shadow var(--transition-duration);

  box-shadow: 0 0 0 1.5px var(--priority-border-color);

  &:hover {
    box-shadow: 0 0 0 1.5px var(--priority-hover);
  }

  &:focus-visible {
    outline-color: var(--priority-focused);
    box-shadow: 0 0 0 1.5px var(--priority-hover);
  }
}

.customCheckbox.low {
  --priority-border-color : var(--color-neutral-400);
  --priority-hover: var(--color-neutral-800);
  --priority-focused: var(--color-neutral-400);
}

.customCheckbox.medium {
  --priority-border-color : var(--color-secondary-300);
  --priority-hover: var(--color-secondary-500);
  --priority-focused: var(--color-secondary-100);
}

.customCheckbox.high {
  --priority-border-color : var(--color-primary-300);
  --priority-hover: var(--color-primary-500);
  --priority-focused: var(--color-primary-100);
}