.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  padding: 12px 24px 12px 16px;
  background-color: var(--color-base-black);
  box-shadow: var(--shadow-header);
  z-index: var(--layer-header);
}

.logo {
  color: var(--color-neutral-0);
}

.actions {
  display: flex;
  column-gap: 24px;
}
