.navBar {
  display: flex;
  flex-direction: column;
  width: var(--nav-width);
  padding: 24px 16px;
  background-color: var(--neutral-light-100);
  border-right: var(--border);
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

