.navBar {
  display: flex;
  flex-direction: column;
  width: var(--nav-width);
  padding: 24px 16px;
  background-color: var(--neutral-100);
  border-right: var(--border);
  overflow-y: auto;
  transition:
    background-color var(--transition-duration),
    border-color var(--transition-duration);
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

