.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: var(--sidebar-width);
  padding: 24px;
  background-color: var(--neutral-light-100);
  border-left: var(--border);
  overflow-y: auto;
  overflow-x: hidden;
}

.sideBar__inner svg {
  margin-inline: auto;
}

.sideBar__description {
  width: 352px;
  text-align: center;
}