.sideBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-light-100);
  border-left: var(--border);
  overflow-y: auto;
}

.sideBar__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 352px;
}

.sideBar__image {
  width: 231px;
  height: 168px;
  background-image: url("../../assets/icons/note.svg");
  background-size: cover;
}

.sideBar__inner svg {
  margin-inline: auto;
}

.sideBar__description {
  width: 352px;
  text-align: center;
}