.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  padding: 16px 24px;
  text-align: center;
  background-color: var(--neutral-0);
}

.footer,
.footer a {
  color: var(--neutral-600);
}

.footer a {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 4px;
  transition:
    color var(--transition-duration),
    outline-color var(--transition-duration);

  &:hover {
    color: var(--neutral-800);
  }

  &:focus-visible {
    color: var(--neutral-800);
    outline-color: var(--neutral-900);
  }
}