.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  padding: 16px 24px;
  text-align: center;
  background-color: var(--neutral-0);
}

.footer,
.footer a {
  color: var(--neutral-600);
}