.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  padding: 16px 24px;
  text-align: center;
  color: var(--neutral-600);
  background-color: var(--neutral-0);
  transition:
    background-color var(--transition-duration),
    color var(--transition-duration);

  a {
    color: var(--neutral-600);
    border-radius: var(--border-radius-small);
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition:
      color var(--transition-duration),
      outline-color var(--transition-duration);

    &:hover,
    &:focus-visible {
      color: var(--neutral-800);
    }

    &:focus-visible {
      outline-color: var(--neutral-900);
    }
  }
}

