.incomingTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - (var(--nav-width) + var(--sidebar-width)));
  height: calc(100vh - var(--header-height));
  min-width: 676px;
  background-color: var(--color-neutral-0);
  transition: background-color var(--transition-duration);
}

