.themeSwitcher {
  --button-size: 32px;
  --padding: 4px;

  position: relative;
  display: flex;
  gap: var(--padding);
  align-items: center;
  width: 76px;
  height: 40px;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--color-base-800);
  color: var(--color-base-600);
  box-shadow: var(--shadow-header-actions);
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: box-shadow var(--transition-duration), outline-color var(--transition-duration);

  &:hover {
    box-shadow: var(--shadow-dark-base-hover);
  }

  &:focus-visible {
    outline-color: var(--color-base-white);
  }

  &::before {
    content: '';
    position: absolute;
    top: var(--padding);
    left: var(--padding);
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--color-primary-400);
    border-radius: var(--border-radius-small);
    transition: transform var(--transition-duration), background-color var(--transition-duration);
  }

  &:hover::before {
    background-color: var(--color-base-white);
  }
}

[data-theme="dark"] .themeSwitcher::before {
  transform: translateX(calc(100% + var(--padding)));
}

.button {
  position: relative;
  z-index: 1;
  width: var(--button-size);
  height: var(--button-size);
  padding: var(--padding);
  border-radius: var(--border-radius-small);
  background: transparent;
  color: var(--color-base-600);
  outline: 2px solid transparent;
  transition: color var(--transition-duration), box-shadow var(--transition-duration);
}

.active {
  color: var(--color-base-white);
  box-shadow: var(--shadow-header-actions);
}

.themeSwitcher:hover .button.active,
.themeSwitcher:focus-visible .button.active {
  color: var(--color-base-black);
}