.themeSwitcher {
  position: relative;
  display: flex;
  column-gap: 4px;
  align-items: center;
  width: 76px;
  height: 40px;
  border-radius: var(--border-radius);
  color: var(--base-600);
  background-color: var(--base-800);
  box-shadow: var(--shadow-header-actions);
  outline-offset: 2px;
  outline: 2px solid transparent;
  padding: 4px;
  transition:
    box-shadow var(--transition-duration),
    outline-color var(--transition-duration);

  &:hover {
    box-shadow: var(--shadow-dark-base-hover);
  }

  &:focus-visible {
    outline-color: var(--base-white);
  }

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 32px;
    height: 32px;
    background-color: var(--primary-400);
    border-radius: var(--border-radius-small);
    transition:
      transform var(--transition-duration),
      background-color var(--transition-duration);
  }

  &:hover::before {
    background-color: var(--base-white);
  }

  &:hover .active,
  &:focus-visible .active {
    color: var(--base-black);
  }

  &:hover:has(.active)::before,
  &:focus-visible:has(.active)::before {
    background-color: var(--base-white);
  }
}

[data-theme="dark"] .themeSwitcher::before {
  transform: translateX(36px);
}

.button {
  z-index: 50;
  width: 32px;
  height: 32px;
  color: var(--base-600);
  padding: 4px;
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-small);
  outline: 2px solid transparent;
  transition:
    color var(--transition-duration),
    background-color var(--transition-duration),
    outline-color var(--transition-duration);
}

.active {
  color: var(--base-white);
  box-shadow: var(--shadow-header-actions);
  transition:
    color var(--transition-duration),
    box-shadow var(--transition-duration);
}
