@import url('./normalize.css');
@import url('./variables.css');
@import url('./fonts.css');
@import url('./utils.css');

body {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-800);
  background-color: var(--color-neutral-0);
  min-height: 100dvh;
  min-width: var(--min-viewport-width);
  transition: background-color var(--transition-duration);
  overflow-y: hidden;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  margin: 0;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(4 / 3);
  margin: 0;
}

h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(4 / 3);
}

svg,
path,
circle,
rect {
  transition: fill var(--transition-duration);
}

html,
body {
  transition: background-color var(--transition-duration);
  background-color: var(--color-neutral-0);
}
