:root {
  --color-base-white: #FFFFFF;
  --color-base-600: #6C6C6C;
  --color-base-800: #262626;
  --color-base-900: #141414;
  --color-base-black: #000;

  --color-neutral-0: #FFFFFF;
  --color-neutral-100: #FBFBFB;
  --color-neutral-200: #F3F3F3;
  --color-neutral-300: #ECECEC;
  --color-neutral-400: #BFBFBF;
  --color-neutral-500: #8C8C8C;
  --color-neutral-600: #6C6C6C;
  --color-neutral-700: #393939;
  --color-neutral-800: #1C1C1C;
  --color-neutral-900: #141414;

  --color-primary-0: #FFF4F4;
  --color-primary-100: #FFCECE;
  --color-primary-200: #FCA9A9;
  --color-primary-300: #F25959;
  --color-primary-400: #D51010;
  --color-primary-440: #D51010;
  --color-primary-500: #A60C0C;
  --color-primary-600: #760909;

  --color-primary-base-100: #FFCECE;
  --color-primary-base-300: #F25959;
  --color-primary-base-400: #D51010;
  --color-primary-base-500: #A60C0C;

  --color-secondary-0: #F5F0FF;
  --color-secondary-100: #EADFFF;
  --color-secondary-200: #D9C5FF;
  --color-secondary-300: #B792FF;
  --color-secondary-400: #742CFF;
  --color-secondary-500: #581BCC;

  --color-button-text-primary-disabled: rgba(28, 28, 28, 0.50);
  --color-button-text-secondary-disabled: rgba(243, 243, 243, 0.50);
  --color-button-icon-negative-disabled: var(--color-neutral-200);

  --color-buttons-disabled-text-primary: rgba(255, 255, 255, 0.50);
  --color-buttons-disabled-text-secondary: rgba(28, 28, 28, 0.50);

  --min-viewport-width: 1280px;

  --shadow-drop-list: 0 0 12px 4px rgba(0, 0, 0, 0.10);
  --shadow-sm: 2px 2px 4px 0 rgba(0, 0, 0, 0.10);
  --shadow-header: 2px 2px 4px 0 rgba(0, 0, 0, 0.20);
  --shadow-button-link: 2px 2px 4px 0 rgba(0, 0, 0, 0.20);
  --shadow-button-priority-dropdown: 2px 8px 12px 0 rgba(0, 0, 0, 0.20);
  --shadow-button-link-md: 2px 8px 12px 0 rgba(0, 0, 0, 0.25);
  --shadow-bottons-disabled-text-secondary-icon-negative: 2px 2px 4px 0 rgba(0, 0, 0, 0.10);
  --shadow-theme-switcher: 2px 2px 4px 0 rgba(0, 0, 0, 0.50);
  --shadow-theme-switcher-md: 2px 8px 12px 0 rgba(0, 0, 0, 0.80);

  --border: 1px solid var(--color-neutral-300);
  --border-radius: 8px;
  --border-radius-small: 4px;

  --button-gap: 8px;

  --header-height: 64px;
  --footer-height: 56px;
  --nav-width: 204px;
  --sidebar-width: 400px;

  --transition-duration: 0.2s;

  --layer-header: 200;
  --layer-task: 100;
  --layer-theme-switcher: 150;
}

[data-theme="dark"] {
  --color-neutral-0: #141414;
  --color-neutral-100: #1C1C1C;
  --color-neutral-200: #262626;
  --color-neutral-300: #333333;
  --color-neutral-400: #6C6C6C;
  --color-neutral-500: #8C8C8C;
  --color-neutral-600: #BFBFBF;
  --color-neutral-700: #ECECEC;
  --color-neutral-800: #FBFBFB;
  --color-neutral-900: #FFFFFF;

  --color-primary-0: #300B0B;
  --color-primary-100: #461313;
  --color-primary-200: #760909;
  --color-primary-300: #A60C0C;
  --color-primary-400: #D51010;
  --color-primary-440: #D51010;
  --color-primary-500: #F25959;

  --color-secondary-0: #261C3C;
  --color-secondary-100: #3D2A66;
  --color-secondary-200: #5D38AE;
  --color-secondary-300: #7D45EA;
  --color-secondary-400: #9D6AFF;
  --color-secondary-500: #B792FF;

  --color-button-text-primary-disabled: rgba(250, 250, 250, 0.50);
  --color-button-text-secondary-disabled: rgba(38, 38, 38, 0.50);
  --color-button-icon-negative-disabled: var(--color-button-text-secondary-disabled);

  --color-buttons-disabled-text-primary: rgba(20, 20, 20, 0.50);
  --color-buttons-disabled-text-secondary: rgba(255, 255, 255, 0.50);


  --shadow-sm: 2px 2px 4px 0 rgba(0, 0, 0, 0.30);
  --shadow-bottons-disabled-text-secondary-icon-negative: 2px 2px 4px 0 rgba(0, 0, 0, 0.30);
  --shadow-drop-list: 0 0 16px 8px rgba(0, 0, 0, 0.40);
  --shadow-button-link: 2px 2px 4px 0 rgba(0, 0, 0, 0.50);
  --shadow-button-priority-dropdown: 2px 8px 12px 0 rgba(0, 0, 0, 0.60);
  --shadow-button-link-md: 2px 8px 12px 0 rgba(0, 0, 0, 0.80);
}