.emptyList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0 24px 24px 24px;
  text-align: center;
  transition:
    color var(--transition-duration),
    background-color var(--transition-duration);
}

.section {
  display: grid;
  gap: 40px;
}

.description {
  display: grid;
  gap: 16px;

  p {
    font-size: 18px;
    line-height: calc(4 / 3);
  }
}

.list {
  display: grid;
  row-gap: 16px;
}

